html{
    color: #fff;
    scroll-behavior: smooth; /*faz uma transição mais suave dentro da pagina quando usa os ancoras*/
}
body{
    font-family: "Poppins", sans-serif;
}
.voltar{
    background-color: #ff0000;
    color: #fff;
 
}
.confirmar{
    background-color: blue;
    color: #fff;
    
}
.novo{
    background-color: #00acfc;
}
.editar{
    background-color: #0e4fa5;
}
.nomenclaturas{
    text-align: center;
}
.botoes{
    text-align: center;
}
.cadastro{
    /*background-color: #428ce2;*/
    border-radius: 5px;
    padding: 15px;
}
.tabelas{
    margin-top: 40px;
}